/* base styling for body */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    background-color: #000;
}

/* Headings use Montserrat font */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    color: #faf8f5;
}

/* Navbar styling */


.navbar {
    background-color: #000;
    position: sticky;
    top:0;
    z-index: 100;
    padding: 1rem 0;
    margin: 1rem 36rem;
    border-radius: 15px;
    border: 1px solid #2a2a2a;
    box-shadow:
  /* SHADOW BOX HELP FROM HTTPS://WWW.W3SCHOOLS.COM/CSS/CSS3_SHADOWS_BOX.ASP */
        0 12px 24px rgba(0, 0, 0, 0.6),
        0 6px 12px rgba(0, 0, 0, 0.4),
        0 3px 6px rgba(255, 255, 255, 0.15) inset;
        0 -1px 2px rgba(255, 255, 255, 0.05) inset;



}
.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}
/* logo styling */
.logo {
    color: #faf8f5;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-right: 3rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    margin: 0rem;
    padding: 0;
    
}


.nav-links a {
    color: #faf8f5;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display: inline-block; /* so i can make hover effect */
    transition: all 0.3s; /* smooth hover effect */
}

.nav-links a:hover {
    color: #fff;
    transform: scale(1.1);
}

/* aut buttons styling making space on navbar */
.auth-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 4rem;
}
.auth-btn {
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    color: #faf8f5;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    transition: all 0.3s;
    
}

.nav-user {
    color: #faf8f5;
    margin-right: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.login-btn {
    border: 1px solid white;

}
.login-btn:hover {
    background-color: #faf8f5;
    color: #000;
    transform: scale(1.05);
}
.signup-btn {
    border: 1px solid white;
}

.signup-btn:hover {
    background-color: #faf8f5;
    color: #000;
    transform: scale(1.05);
}

.logout-btn {
    background-color: #000;
    color: #faf8f5;
}

.logout-btn:hover {
    background-color: #faf8f5;
    color: #000;
    transform: scale(1.05);
}

/* HERO SECTION STYLING!! */

.hero-section {
   background-image: url('/static/images/herosection.webp');
   background-size: cover;
   background-position: center;
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-bottom: 0rem;
}

/* Dark overlay so the photo is more dark */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.79) 70%, /* Fade background and Image together */
        rgba(0, 0, 0, 0.99) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

/* all text in center */
.hero-content {
    text-align: center;
    z-index: 1;
}

/* hero content */
.hero-content h1 {
    color: #faf8f5;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/* p hero content styling */
.hero-content p {
    color: #faf8f5;
    font-size: 1.3rem;
    max-width: 600px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.6;
}

/* Button in hero section */
.btn-hero {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.6rem 1.5rem;
    background-color: white;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn-hero:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

/* Products Section Styling */
.products-section {
    margin-bottom: 4rem;
}

.products-section h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}   