{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Hero Section -->
 <div class="hero-section">
 <div class="hero-overlay">
    <div class="hero-content">
        <h1>Welcome to SippyShop</h1>
        <p>Discover our collection of beautiful handpicked mugs for every moment</p>
        <!-- Shop now Btn i Hero section -->
         <a href="{% url 'product_list' %}" class="btn-hero">Shop Now</a>
     </div>
   </div>
 </div>    
 {% endblock %}