{% extends 'base.html' ‰}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Hero Section -->
 <div class="Hero-section">
    <div class="hero-content">
        <h1>Welcome to SippyShop</h1>
        <p>Discover our collection of beautiful mugs</p>
    </div>
 </div>

 <!-- Products Section -->

 <div id="products" class="products-section">
    <h2>Our Mugs</h2>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if product.image_url %}
                <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name}}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="fw-bold">${{ product.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
 </div>
 </div>
 {% endblock %}