{% extends 'base.html' %}
{% block title %} All Mugs{% endblock %}

{% block content %}
<div class="products-section">
<h1>Our Mugs</h1>


<!-- my layout for the products -->
 <div class="row justify-content-center">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="fw-bold">${{ product.price }}</p>
        </div>
        </div>
    </div>
    {% endfor %}
 </div>
</div>
 {% endblock %}