{% extends 'base.html' %}

{% block title %}Set new password{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="row justify-content-center">
        <div class="col-md-6 auth-box">
            <h2>a new password</h2>

            {% if token_fail %}
            <p>This link is invalid or has already been used.</p>
            <a href="{% url 'account_reset_password' %}" class="btn send-it-link mt-3">Request a new link</a>
            {% else %}
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn send-it-link w-100 mt-3">Change password</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
